.container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container__header_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__block {
    display: flex;
    align-items: center;
}

.container__avg_period_text {
    color: #667985;
    width: 100%;
    white-space: nowrap
}

.container__avg_period_number {
    color: #F38B00;
    text-align: center;
}

.container__ruble {
    font-size: 0.5em;
    color: #888888;
    margin-left: 4px;
}


.tooltipWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tooltipMonth {
    font-weight: bold;
}

.tooltipLine {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tooltipColor {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.tooltipLabel {
    font-size: 14px;
}

.tooltipValue {
    font-weight: bold;
}